<footer>
  <section class="layout">
    <% include ../content/socialmedia.ejs %>
  </section> <!-- section.layout -->
  <div id="cirquitree-center">
    <p>Cirquitree &copy; 2016</p>
  </div>
</footer> <!-- footer -->
