<article id="getbusy">
  <h1>Get Busy!</h1>
  <p>If you want to keep up with what's going on with the group, join our <a href="#">meetup group</a>, or follow us on <a href="#">Twitter</a>. If you're on Facebook, you can also join our <a href="#">Facebook</a> group.</p>
</article><!-- getbusy -->
