<article id="whoarewe">
  <h1>Who are we?</h1>
  <p>The True Academy gets thousands of submissions every year for artists interested in participating in the CAC exhibits, and selects approximately 200 distinct pieces of contemporary art for display in their collective exhibit. In addition, 12 individuals are honored as Featured Artists - each being their own exhibit hall to display entire collections or themed pieces.</p>
  <p>Each Featured Artist has an oppotunity to speak at one of our meetups and share their vision, perspective, and techniques with attendees on a more personal level than at our large conference. It is truly an honor to be a CAC Featured Artist, and many past students who were featured at CAC have gone on to brilliant careers in the arts.</p>
</article><!-- whoarewe -->
